* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: white;
    color: black;
}

.container {
    width: 85%;
    margin: 40px auto;
}

h1 {
    font-size: 35px;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 15px;
    margin-bottom: 15px;
}

hr {
    border: 1px solid black;
    margin: 20px 0;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
}

ul li {
    margin: 6px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1.5px solid black;
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

th {
    background: black;
    font-weight: bold;
    color: white;
}

.pic{
    width: 30px;
    height: 30px;
}
